---
layout: page
title: Home
---


  <h3 class="post-title">Posts</h3>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time><br>
        <a href="{{ post.url }}">
          {{ post.title }}
        </a><br>
      </li>
    {% endfor %}
  </ul>

  <h3 class="ief-title">IEF</h3>
  <ul class="ief-list">
    {% for ief in site.iefs %}
      <li>
        <time datetime="{{ ief.date | date_to_xmlschema }}">{{ ief.date | date_to_string }}</time><br>
        <a href="{{ ief.url }}">
          {{ ief.title }}
        </a><br>
      </li>
    {% endfor %}
  </ul>

