.navbar{
	padding: 2rem 2rem;
}

.nav-right {
	float: right;
}

.nav{
	list-style-type: none;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
	padding: 0 10px;
	line-height: 1.2rem;
	color: #2196f3;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	margin: 0;
	float: none;
}

.nav-list{
	float: right;
}

/*page*/
.page a{
	color:#303030;
}

.page time{
	color:#2196f3;
	font-size: 0.9rem;
}