/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="../stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass","variables","normalize";

//reset
li{list-style-type: none;}
ul,input{margin: 0;padding:0;border:0;}
a{text-decoration:none;color: #fff;}
i{font-style: normal;}
*:focus{outline:none;}


// body
body{
	color:#393a3a;
}
.sectionB,.followme{
	min-width: 1280px;
	margin: 0 auto;
}

.sectionC{
	margin: 0 auto; 
	width: 1280px;
}

// header
.header{
	min-width: 1144px;
	height: 56px;
	padding: 0 68px;
	font-size:14px; 
	margin: 0 auto; 

	.header-logo{
		text-indent: 42px;
		background: url("../images/logo.jpg") no-repeat left ;
		font-size: 21px;
		line-height:32px;
		@extend %ff-ht;
		@include float(left);
		margin-top: 12px;
	}

	.header-nav{
		@include float(right);
		
		li{
			@include float(left);
			margin-top: 18px;
			width:65px;
			padding-bottom: 15px;
			text-align:center;
			margin-right: 46px;
			


			&:first-child{
				border-bottom:4px solid #e74f4d;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}

	.login{
		@include float(right);
		margin-top: 18px;
		background: url("../images/login.png") no-repeat left;
		text-indent: 19px;
		font-weight:bold;
		color:#e74f4d;
		margin-left: 30px;
	}
}

// main
.main{
	width:1280px;
	margin: 0 auto;
}

.bannerMax{
	color:#fff;
	height:690px;
	background: url("../images/bannerMax.jpg") no-repeat center;
	position:relative;
	z-index:-2;
	
	.darken{
		height: 690px;
		background-color: rgba(0,0,0,0.3);
		position:absolute;
		left:0;
		right:0;
		z-index:-1;
	}

	.bannerMax-title{
		font-size: 60px;
		padding: 232px 0 0 115px;
		margin-top: 0;
	}

	p{
		font-size: 21px;
		line-height:35px;
		margin-left:118px;
	}

	.bannerMax-btn{
		background-color: #e74f4d;
		@include wrap-shape(330px,64px);
		text-align:center;
		margin-left:118px;
		line-height:64px;
	}

}

.bannerMin-list{
	height:250px;

	.bannerMin-item{
		width:25%;
		@include float(left);
		text-align:center;
		padding-top: 46px;
		@extend %ff-ht;
		font-size:14px;
		
		p{
			margin-top: 48px;
			border-left:2px solid #393a3a;
		}

		.first-p{
			border:0;
		}
	}
}

.sectionB-header{
	height: 360px;
	background-color: #edecec;
	text-align:center;

	img{
		@include m-place(89px,null);
	}

	p{
		font-size:54px;
		color: #626262;
		@extend %ff-ht;
	}
}

.sectionB-wrap{
	background-color: #edecec;

}

.sectionB-info{
	height:340px;
	text-align:center;
	background: url("../images/B-info.jpg") no-repeat center;

	h1{
		font-size:21px;
		color:#fff;
		margin:0;
		@include p-place(54px,null);
	}

	span{
		@include wrap-shape(31px,3px);
		display:inline-block;
		background-color: #FFF;
	}

	p{
		color:#fff;
		font-size:12px;

	}
}

.info-list{
	width:1040px;
	margin: 0 auto;

	li{
		@include float(left);
		margin-right: 28px;
	}

	input{
		@include wrap-shape(215px,35px);
		padding: 0 10px;
		background: #fff url("../images/btn-down.jpg") no-repeat 96% 50%;
		font-size:12px;
	}



	.info-item04{
		margin-right: 0;
		
		input{
			background-image: none;
			background: #be4e48;
			color:#fff;
			font-size:14px;

		}
	}

	.info-item02{
		border:1px solid rgb(178, 67, 63);
	}

	@at-root{
		.selecter{
			width: 235px;

			
			li{
				width: 235px;
				text: {
					align:left;
					indent: 35px;
				}
				font-size: 12px;
				line-height:26px;
				background-color: #FFF;

				&:first-child{
					background: rgb(178, 67, 63) url("../images/btn-select.jpg") no-repeat 5% 50%;
				}

			}
		}
	}
}

.sectionB-body{
	@include wrap-shape(1280px,605px);
	margin:0 auto;
	text-align: center;

	h1{
		font-size: 14px;
		margin: 12 0 0 0;
	}

	p{
		font-size: 12px;
		margin: 8px 0;
	}

	div{
		@include float(left);
		margin-right: 36px;
		margin-top: 100px;

		&:first-child{
			margin-left: 148px;
		}
	}

	img{
		@include wrap-shape(204px,312px);
		display: inline-block;
		padding: 13px 7px;
		background-color: #fff;
		border: 1px solid $gray-font;
	}

	@at-root{
		.body-item-active{
			h1{
				font-size: 20px;
			}
		}
	}
}

.sectionC{
	@include clearfix;
	font-size: 21px;
	h1,h2{
		margin: 0;
		padding: 0;
		font-weight: normal;
	}


	&>div{
		width: (1280px/3);
		height: 520px;
		@include float(left);
		text-align: center;
	}

	.r01-c01{
		width:(1280px/3)*2;
		background: url(../images/r01-c01.jpg) no-repeat center;
		background-size: 100.5%;
		color: #fff;
	}

	.r01-c02{
		width: (1280px/3)-2;
		height: 518px;
		border: 1px solid $gray-font;
		border-left-color: #fff;
	}

	.r02-c02{
		width: (1280px/3)-2;
		height: 518px;
		border: 1px solid $gray-font;
		border-right-color: #fff;
	}

	@at-root{
		.r01-c01{
			position: relative;

			h2{
				font-size: 49px;
				line-height: 49px;
				padding-top: 122px;
			}

			h1{
				font-size: 158px;
				line-height: 158px;
			}

			p{
				line-height: 35px;
			}

			.r01-c01-tip{
				display: block;
				width: 0;
				border:{
					color: transparent #fff transparent transparent ;
					style: solid;
					width: 24px; 
				}
				position: absolute;
				right:0;
				top:50%
			}
		}

		.r01-c02{
			h1{
				padding-top: 148px;
				font-size: 21px;
				font-weight: bold;
			}

			p{
				font-size: 12px;
				line-height:32px ;
			}

			.r01-c02-btn{
				width: 106px;
				height: 36px;
				border: 1px solid $red;
				font-size: 12px;
				line-height: 36px;
				display: inline-block;
				color: $red;
			}

			.r01-c02-circle{
				span{
					width: 10px;
					height: 10px;
					border-radius: 6px;
					border: 1px solid $gray-font;
					display: inline-block;
					margin: 7px;
					margin-top: 24px;
				}

				.circle-active{
					background-color: $gray-font;
				}
			}
		}

		.r02-c01{
			color: #fff;
			background-color: $red;
			p{
				padding-top: 148px;
			}
			.r01-c02-underline{
				@include wrap-shape(31px,3px);
				background-color: #FFF;
				display: block;
				margin: 0 auto;
			}
			.r01-c02-btn{
				margin-top: 26px;
				width: 165px;
				height: 45px;
				border: 1px solid #fff;
				line-height: 45px;
				display: inline-block;
			}
		}

		.r02-c02{
			color: #000;
			p{
				padding-top: 148px;
			}
			.r01-c02-underline{
				@include wrap-shape(31px,3px);
				background-color: $gray-font;
				display: block;
				margin: 0 auto;
			}
			.r01-c02-btn{
				color: $red;
				margin-top: 26px;
				width: 165px;
				height: 45px;
				border: 1px solid $red;
				line-height: 45px;
				display: inline-block;
			}
		}

		.r02-c03{
			background: url(../images/r02-c03.jpg) no-repeat center;
			position: relative;

			.r02-c03-tip{
				display: block;
				width: 0;
				border:{
					color: transparent transparent transparent #fff  ;
					style: solid;
					width: 24px; 
				}
				position: absolute;
				left:0;
				top:50%
			}
		}
	}
}

.form{
	margin: 0 auto; 
	width: 1280px;
	height: 620px;
	padding-top: 120px;
	text-align: center;
	

	.form-underline{
		@include wrap-shape(31px,3px);
		display: block;
		margin: 0 auto;
		background-color: $red;
	}

	.form-p{
		font-size: 12px;
	}

	@at-root{
		.form-body{
			@include clearfix;
			margin: 50px 140px;
			h1{
				font-size: 14px;
			}
			p{
				font-size: 12px;
				margin-bottom: 2px;
			}
		}

		.body-text{
			width: 288px;
			margin-right: 60px;
			float: left;
			text-align: left;
			.body-more{
				text-align: right;
				font-size: 12px;
				background: url(../images/downicon.png) no-repeat 86% 70%;
			}
		}

		.body-table{
			float: left;
			text-align: left;
			font-size: 14px;
			width: 640px;
			li{
				width: 312px;
				height: 40px;
				line-height: 40px;
				text-indent: 1em;
				background-color: $gray-list-bg;
				margin-left: 8px;
				margin-bottom: 8px;
				float: left;
			}
			input,textarea{
				background-color: $gray-list-bg;
				
			}
			input{
				width: 220px;
			}
			textarea{
				border: none;
				resize:none; 
			}

			.table-input{
				// padding-right: 1px;
			}

			.table-text{
				height: 134px;
				width:98.9%;
				text-indent: 8px;

			}

			.table-commit{
				width:98.9%;
				text-align: center;
				font-weight: bold;
				.input{
					text-align: center;
				}
			}
		}
	}
}	

.followme{
	text-align: center;
	background-color: #32363e;
	height: 270px;
	padding-top: 90px;
	color: #fff;
	h1{
		font-size: 21px;
	}
	p{
		font-size: 12px;
	}
	
	@at-root{
		.email{
			display: inline-block;
			text-align: left;
			width: 510px;
			height: 42px;
			line-height: 42px;
			margin-top: 20px;
			input:first-child{
				color: $gray-font;
				display: inline-block;
				width:420px;
				height: 42px;
				padding: 0 5px;
				font-size: 14px;
				text-align: left;
			}
			input:last-child{
				text-align: center;
				width: 80px;
				height: 42px;
				background-color: #6f7178;
				font-size: 14px;
				cursor: pointer;
			}
		}

		.follow{
			margin: 27px auto 0;
			width: 400px;
			li{
				margin-right: 28px;
				display: inline-block;
				&:first-child{
					margin-left: 28px;
				}
			}
		}
	}
}

footer{
	min-width: 1144px;
	height: 56px;
	line-height: 56px;
	padding: 0 68px;
	font-size:14px; 
	background-color: #2f3038;
	color: #fff;
	.lefttext{
		float: left;
		font-style: normal;
	}
	.righttext{
		float: right;

	}

}